<html>
    <head>
        <title>Night Out Planner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
           <link rel='stylesheet' type='text/css'
            href='/stylesheets/bootstrap.css'>
        <link rel='stylesheet' type='text/css'
            href='/stylesheets/app.css'>
           
             <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
             <script src="js/bootstrap.min.js" ></script>
             <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
  
    </head>
    <body>
        <div class='container'>
        <div class='row'>
            <div class='col-xs-12 text-center'>
                <h1 class='really-big'>Night Out Planner</h1>
                <span class="glyphicon glyphicon-cutlery really-big" style="margin-right: 50px;"></span>
                <span class="glyphicon glyphicon-phone really-big" style="margin-right: 50px;"></span>
                <span class="glyphicon glyphicon-glass really-big"></span>
      
        </div>
        </div>
    