@import url(https://fonts.googleapis.com/css?family=Coiny);

body{
    margin-top: 20px;
}
.tab-pane{
    padding: 5px;
}

#myslider{
    max-width: 800px;
}
.really-big{
    font-size: 2.8em;
}

.top-page{
    line-height: 20px;
 margin-top: 10px;
 font-size: 1.2em;
 
}


hr{
    border-style: solid;
    border-color: #FAE59B;
    border-width: 1px;
    border-radius: 20px;
}
h1{
    font-family: 'Coiny', cursive;
}

@media (min-width: 768px){
    .top-page{
    line-height: 30px;
 margin-top: 20px;
   font-size: 1.5em;
  /* letter-spacing: -.02em; */
}
.really-big{
    font-size: 4em;
}
}